@mixin core_spaces {
	.spaces {
		display: table; /* Remove the white space between each column on the Stock Android Jellybean Browser */
		display: block\9; /* Internet Explorer 9 fix for calc function on element with table display property */
		font-size: 0; /* Remove the white space between columns */
		text-align: left; /* Prevent columns from aligning to center or right when a parent element has the text-align property */
		direction: ltr;
		table-layout: fixed;
		width: 100%;
	}

	.spaces--right {
		text-align: right;
	}

	.spaces--center {
		text-align: center;
	}

	.space {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		@include responsive-font-size('default-font-size');
	}

	@include spaces-layout(
		$horizontal-gutter: $space-horizontal-gutter,
		$vertical-gutter: $space-vertical-gutter
	);

	@include breakpoint(viewport(phablet, min-width)) {
		@include spaces-layout(
			$space-per-row: 2
		);
	}

	@include breakpoint(viewport(tablet, min-width)) {
		@include spaces-layout(
			$space-per-row: 3
		);
	}

	@include breakpoint(viewport(tablet-landscape, min-width)) {
		@include spaces-layout(
			$space-per-row: 4
		);
	}
}