@mixin core_spaces {
	.spaces {
		position: relative;
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;

		@include clear(false, true);
	}

	.space {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		margin: 0;
	}

	@include space-gutter('', $default-space-gutter);
	@include space-per-row(2, $phablet-min-width);
	@include space-per-row(3, $tablet-min-width);
	@include space-per-row(4, $tablet-landscape-min-width);
}