@mixin core_spaces {
	.spaces {
		display: block;
		list-style: none;
		margin: 0;
		margin-left: -$space-gutter;
		margin-bottom: -$space-gutter;
		padding: 0;

		@include clear(false, true);

		> .space {
			margin-bottom: $space-gutter;
		}
	}

	.space {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0 0 0 $space-gutter;
	}

	@if $spaces-enable-gallery == true {
		.spaces--gallery {
			> .space {
				a {
					display: block;
				}

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}