@mixin space-per-row(
	$multiplier: 1,
	$min-width: false,
	$max-width: false
) {
	@include breakpoint(
		$min-width: $min-width,
		$max-width: $max-width
	) {
		.space {
			width: 100% / $multiplier;

			&:nth-child(1n+1) {
				clear: none;
			}

			&:nth-child(#{$multiplier}n+1) {
				clear: both;
			}
		}
	}
}